{% extends 'base.html' %}

{% block title %}Mahsulotlar | Tahrirlash {% endblock %}
{% block page_title %}Mahsulotlar{% endblock %}
{% block products_active %}active{% endblock %}

{% block content %}

<!-- Modal body -->
<form id="edit-product-form" class="px-4" method="post">
    {% csrf_token %}
    <label for="name">Nomi: </label>
    <input type="text" name="name" value="{{ product.name }}" placeholder="Mahsulot nomi..." id="name"
           class="form-control" required>
    <br>
    <label for="brand">Brend nomi: </label>
    <input type="text" name="brand" {% if product.brand %} value="{{ product.brand }}" {% endif %} placeholder="Brend nomi..."
           id="brand" class="form-control">
    <br>
    <label for="price">Narxi(so'm): </label>
    <input type="number" name="price" value="{{ product.price }}" placeholder="Mahsulot narxi..."
           id="price" class="form-control">
    <br>
    <label for="amount">Miqdor({{ product.unit }}): </label>
    <input type="number" name="amount" value="{{ product.amount }}" placeholder="Dona qoldi..."
           id="amount" class="form-control">
    <br>
    <label for="unit">O'lchov birlik: </label>
    <input type="text" name="unit" value="{{ product.unit }}" placeholder="kg, dona, litr,..."
           id="unit" class="form-control">
    <br>

    <!-- Modal footer -->
    <button type="submit" class="btn btn-success">Yangilash</button>
    <a href="{% url 'products' %}">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
    </a>

</form>

{% endblock %}