{% extends 'base.html' %}

{% block content %}

    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Maxsulot qo'shish</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Nomi</th>
                            <th scope="col" style="text-align: center;">Brend</th>
                            <th scope="col" style="text-align: center;">Sotish narxi</th>
                            <th scope="col" style="text-align: center;">Miqdor</th>
                            <th scope="col" style="text-align: center;">Yangilangan</th>
                            <th scope="col" style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ product.name }}</td>
                            <td>{% if product.brand %}{{ product.brand }}{% else %}-{% endif %}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.amount }} {{ product.unit }}</td>
                            <td>{{ product.updated_at }}</td>
                            <td>
                                <a href="#">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                                </a>
                                <a href="#">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi mahsulot</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <form id="new-product-form" method="post">
              {% csrf_token %}
            <div class="modal-body">
              <label for="name">Nomi:</label>
              <input type="text" name="name" placeholder="Nomi..." id="name" class="form-control" required>
              <br>
              <label for="brand">Brend:</label>
              <input type="text" name="brand" placeholder="Mahsulot brendi..." id="brand" class="form-control">
              <br>
              <label for="price">Sotish narxi:</label>
              <input type="number" name="price" placeholder="Mahsulot narxi..." id="price" class="form-control" required>
              <br>
              <label for="amount">Miqdori:</label>
              <input type="number" name="amount" value="0" placeholder="Mahsulot miqdori..." id="amount" class="form-control">
              <br>
              <label for="unit">O'lchov birlik:</label>
              <input type="text" name="unit" value="dona" placeholder="Mahsulot o'lchovi (kg, dona, litr...)" id="unit" class="form-control" required>
              <br>
            </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>
    
        </div>
      </div>
    </div>
<!-- ./wrapper -->
{% endblock %}

